M1                    7.72    3.66    2.34                TANK             TRACKED                   M1  USA  T  20
M998                  4.52    2.16    1.88                JEEP             WHEELED                 M998  USA  J  22
TOY_PICKUP             5.20    2.00    1.80               TRUCK             WHEELED            TOY_PICKUP  USA  K  99
